apiVersion: 1
datasources:
  - name: Prometheus (exporters)
    type: prometheus
    access: proxy
    orgId: 1
    url: http://{{ groups['prometheus'][0] }}:9090/prometheus
    isDefault: true
    version: 1
    editable: true
  - name: InfluxDB-agama-client (Agama)
    type: influxdb
    access: proxy
    user: grafana
    url: http://{{ groups['influx'][0] }}:8086
    jsonData:
      dbName: {{ agama_influxdb_db_name }}
      httpMode: GET
    secureJsonData:
      password: {{ grafana_password }}
  - name: InfluxDB-Telegraf (syslog)
    type: influxdb
    access: proxy
    user: grafana
    url: http://{{ groups['influx'][0] }}:8086
    jsonData:
      dbName: telegraf
      httpMode: GET
    secureJsonData:
      password: {{ grafana_password }}
