search {{ domain_name }}
{% for master in groups['dns_masters'] %}
nameserver {{ hostvars[master]['ansible_default_ipv4']['address'] }}
{% endfor %}
{% for slave in groups['dns_slaves'] %}
nameserver {{ hostvars[slave]['ansible_default_ipv4']['address'] }}
{% endfor %}
