[Unit]
Description=Prometheus exporter for machine metrics
Documentation=https://github.com/digital_ocean/bind_exporter

[Service]
Restart=on-failure
User=prometheus
ExecStart=/usr/local/bin/prometheus-bind9-exporter

[Install]
WantedBy=multi-user.target
