$TTL	604800
{{ domain_name }}.	IN	SOA	{{ groups['dns_servers'][0] }}.{{ domain_name }}. alexander.{{ domain_name }}. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
{% for ns in groups['dns_servers'] %}
{{ domain_name }}.	IN	NS	{{ ns }}.{{ domain_name }}.
{% endfor %}
{% for nsrec in groups['dns_servers'] %}
{{ nsrec }}	IN	A	{{ hostvars[nsrec]['ansible_default_ipv4']['address'] }}
{% endfor %}
